<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="記錄時間：%date 線程ID:[%thread] 日誌級別：%-5level - 日誌描述：%message%newline" />
      </layout>
    </appender>
  </log4net>

  <appSettings>
    <!--单位 秒-->
    <add key="IntervalTimer" value="5"/>
    <add key="Accounts" value="Accounts.xml"/>
    <add key="FileSavePath" value="D:\TestEml"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
